.banner__inner {
    padding: 60px 73px;
    border-radius: 40px;

    background: linear-gradient(137.70deg, rgb(57, 199, 236) 4.565%, rgb(57, 199, 236) 4.575%, rgb(0, 80, 236) 96.443%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 120px;
}

.banner__title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner__title {
    color: $primary-color;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.banner__desc {
    color: $primary-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.bunner__btn {
    padding: 20px 30px;
    border-radius: 10px;
    background: $primary-color;
    border: none;
    cursor: pointer;
    color: $second-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    display: block;
    text-wrap: nowrap;

    transition: all ease-in-out .2s;


    &:hover {
        box-shadow: 7px 7px 30px 0px rgba(210, 218, 227, 0.6), 5px 5px 13px 0px rgba(210, 218, 227, 0.3), -5px -5px 10px 0px rgb(255, 255, 255), -10px -10px 34px 0px rgba(255, 255, 255, 0.8);
        background: rgb(239, 241, 247);

    }
}