.blog {
    background: rgb(239, 241, 247);
    padding: 150px 0;
}

.blog__inner {
    display: flex;
    gap: 20px;
}

.blog__lists {
    border-radius: 40px;
    width: 50%;

    box-shadow: 15px 10px 30px 0px rgba(210, 218, 227, 0.7), 5px 5px 13px 0px rgba(210, 218, 227, 0.3), -5px -5px 10px 0px rgb(255, 255, 255), -20px -20px 34px 0px rgba(255, 255, 255, 0.8);
    background: rgb(239, 241, 247);
    padding: 60px 60px;

}

.blog__title_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.blog__link {
    color: rgb(0, 86, 254);
    font-size: 18px;
    font-weight: 700;
    line-height: 150.25%;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $accent-color;
        transition: width .4s ease;
    }


    &:hover::before {
        width: 100%;
    }
}

.blog__item {
    color: $second-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 60px;
}

.blog__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.blog__social_icon {
    width: 40px;
}

.blog__social {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    background: $primary-color;
    border-radius: 50%;
    padding: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        box-shadow: inset 3px 3px 7px 0px rgba(136, 165, 191, 0.56), inset -3px -4px 7px 0px rgb(255, 255, 255);
        background: rgb(239, 241, 247);
    }
}

.blog__social-big {
    padding: 58px 25px;
    min-width: 140px;
    min-height: 140px;

    .blog__social_icon {
        width: 90px;
    }
}

.blog__item-center {
    margin-top: 60px;
    text-align: center;
}

@media (max-width: 1220px) {
    .blog {
        padding: 100px 0;
    }
}

@media (max-width: 990px) {
    .blog {
        padding: 80px 0;
    }

    .blog__lists {
        padding: 30px;
    }

    .blog__item {
        font-size: 24px;
    }
}


@media (max-width: 768px) {
    .blog {
        padding: 50px 0;
    }

    .blog__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog__lists {
        width: calc(100% - 20px);
    }
}