.nav {
    margin-left: 50px;


    &__lists {
        display: flex;
        align-items: center;
        column-gap: 40px;
    }

    &__item_wrapper {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__item {
        padding: 14px 2px;
    }

    &__item.active {
        border-bottom: 2px solid $accent-color;

        .nav__link {
            color: $accent-color;
        }

        .nav__link-arrow {
            background: url('./images/arrow-blue.svg') center/cover no-repeat;
        }
    }

    &__link-wrapper {
        display: flex;
        align-items: center;
    }

    &__link {
        @include responsive-font-size;
        color: $second-color;
        font-weight: 700;
        line-height: 100%;

        transition: ease-in .2s;

        &:hover {
            color: $accent-color;

        }
    }

    &__link-arrow {
        display: block;
        background: url('./images/arrow.svg') center/cover no-repeat;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    &__btn {
        padding: 20px 30px;
        border-radius: 10px;
        background: $accent-color;
        border: none;
        cursor: pointer;
        color: $primary-color;
        @include responsive-font-size;
        font-weight: 700;
        line-height: 100%;

        transition: background ease-in-out .3s;

        &:hover {
            border-radius: 10px;

            background: rgb(0, 48, 142);

        }
    }

    &__link {
        text-wrap: nowrap;
    }

    &__sublist {
        display: flex;
        padding: 40px;
        column-gap: 20px;

        position: absolute;
        top: 90px;
        left: 0;
        border: 1px solid rgb(213, 221, 229);
        border-radius: 40px;

        background: rgb(239, 241, 247);
    }

    &__sublist_title {
        color: $second-color;
        @include responsive-font-size;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 10px;
        transition: all ease-in-out .3s;

    }

    &__sublist_text {
        color: $second-color;
        @include responsive-font-size;
        font-weight: 400;
        line-height: 140%;
    }

    &__sub-item {
        width: 25%;
        padding: 20px;
        border-radius: 20px;

        background: $primary-color;
        transition: all ease-in-out .3s;

        &:hover {
            transition: all ease-in-out .3s;

            .nav__sublist_title {
                background: linear-gradient(137.70deg, rgb(57, 199, 236) 2.254%, rgb(57, 199, 236) 2.263%, rgb(0, 80, 236) 98.244%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            box-shadow: 5px 5px 20px 0px rgba(200, 212, 223, 0.8),
            3px 3px 10px 0px rgba(210, 218, 227, 0.5),
            -3px -3px 10px 0px rgb(255, 255, 255),
            -5px -5px 18px 0px rgba(255, 255, 255, 0.9);
        }
    }
}

@media (max-width: 1220px) {
    .nav {
        margin-left: 10px;


        &__lists {
            column-gap: 20px;
        }

        &__sublist {
            padding: 30px;
        }

        &__btn {
            padding: 15px;
        }
    }
}

@media (max-width: 990px) {

    .nav {
        &__lists {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__sublist {
            padding: 20px;
        }
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;

        &__sublist {
            flex-wrap: wrap;
            gap: 10px;
            padding: 10px;
        }

        &__sub-item {
            width: calc(50% - 10px);
        }
    }
}