.products__inner {
    display: flex;
}

.products__title_wrapper {
    max-width: 50%;
    padding: 0 100px 254px 0;
}

.products__title {
    background: linear-gradient(90.00deg, rgb(57, 199, 236), rgb(57, 199, 236), rgb(0, 80, 236));
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    text-fill-color:
        transparent;
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;


}

.products__title-accent {
    display: block;
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
    color: $second-color;
}

.products__visual {
    width: 50%;
    border-radius: 40px;

    background: rgb(239, 241, 247);
    padding: 60px;
}

.products__data {
    display: flex;
    column-gap: 33px;
}

.products__circle {
    width: 321px;
    height: 321px;
    width: 100%;
    border-radius: 50%;
    background-color: #FFFFFF;
    filter: drop-shadow(0 0 10.2891px rgba(0, 0, 0, 0.2));
}

.products__info {
    color: $second-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
}