@import "styles/varibales.scss";
@import "styles/header.scss";
@import "styles/nav.scss";
@import "styles/_about.scss";
@import "styles/sliderBtns.scss";
@import "styles/platform.scss";
@import "styles/cases.scss";
@import "styles/cards.scss";
@import "styles/banner.scss";
@import "styles/products.scss";
@import "styles/launch.scss";
@import "styles/tasks.scss";
@import "styles/reasons.scss";
@import "styles/partners.scss";
@import "styles/blog.scss";
@import "styles/modal.scss";
@import "styles/footer.scss";


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $primary-fonts;
    color: $primary-color;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
}



.title {
    @include responsive-font-title;
    font-weight: 700;
    line-height: 120%;
    color: $second-color;
}

.title-accent {
    background: linear-gradient(90.00deg, rgb(57, 199, 236), rgb(57, 199, 236), rgb(0, 80, 236));
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    text-fill-color:
        transparent;
}

@media (max-width: 1220px) {}

@media (max-width: 990px) {}


@media (max-width: 768px) {
    .btn {
        padding: 13px 22px;
    }
}