@import "styles/varibales.scss";
@import "styles/header.scss";
@import "styles/nav.scss";


@import "styles/footer.scss";


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $primary-fonts;
    color: $primary-color;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px solid red;
}